@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@plugin "@tailwindcss/typography";

@media print {
  @page {
    size: A4;
    margin: 1.5cm;
  }
}
